/* Header */
@font-face {
  font-family: 'KeepCalm';
  src: url('../../../../assets/fonts/KeepCalm-Medium.ttf');
}

@font-face {
  font-family: 'Louis';
  src: url('../../../../assets/fonts/louis_cafe.ttf');
}

mat-toolbar {
  background-color: #9C240A;
  font-family: 'KeepCalm', sans-serif;
  color: white;
}

.icon-color{
  color: #9C240A;
  height: 20px;
}

.botones-menu {
  color: #9C240A;
}

.example-spacer {
  flex: 1 1 auto;
}

.fill-remaining-space {
  flex: 1 1 auto;
}


#titulo{
  display: flex;
  align-items: center;
  justify-content: left;
}

.logo{
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(125deg) brightness(102%) contrast(102%);
}

a{
  text-decoration:none;
  color: white;
}
