<body>
  <header>
    <mat-toolbar>
      <span class="fill-remaining-space">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger" (mouseover)="menuTrigger.openMenu()">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu" [overlapTrigger]="false">
          <span (mouseleave)="menuTrigger.closeMenu()">

            <button mat-menu-item class="botones-menu" [routerLink]="['/restaurantes']">
              <span class="material-symbols-outlined botones-menu">
                <mat-icon class="icon-color">restaurant</mat-icon>
                <span>Restaurantes</span>
              </span>
            </button>

            <button mat-menu-item class="botones-menu" [routerLink]="['/users']">
              <span class="material-symbols-outlined botones-menu">
                <mat-icon class="icon-color">group</mat-icon>
                <span>Usuarios</span>
              </span>

            </button>

            <button mat-menu-item class="botones-menu" (click)="logOut()">
              <span class="material-symbols-outlined botones-menu">
                <mat-icon class="icon-color">logout</mat-icon>
                <span>Cerrar Sesión</span>
              </span>

            </button>
          </span>
        </mat-menu>
      </span>

      <div class="fill-remaining-space">
        <a routerLink="/initial-page">
          <div id="titulo">
            <span><img src="../../../assets/images/logo-title.png" alt="Logo ComiendoPorTriana" height="150px" class="logo"></span>
            <span>Comiendo Por Triana</span>
          </div>
        </a>
      </div>
    </mat-toolbar>
  </header>



  <div infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="1000" (scrolled)="onScroll()">
    <div fxLayout="row wrap" fxLayoutAlign="space-around start" class="justify-content-center" class="property-list">
      <mat-card class="example-card" *ngFor="let bar of baresList" [routerLink]="['/restaurantes',bar.id]">
          <mat-card-header>
            <mat-card-title class="cardTitulo">{{bar.name}}</mat-card-title>
            <mat-card-subtitle class="cardSubtitle">{{bar.address}}</mat-card-subtitle>
          </mat-card-header>
          <div class="image-container">
            <img mat-card-image [src]="getBarImage(bar.image)" class="barImage">
          </div>
          <mat-card-content>
            <div class="lineas description">
              <span>{{bar.description}}</span>
            </div>
          </mat-card-content>
      </mat-card>
    </div>
  </div>

</body>
