<body>
  <header>
    <mat-toolbar>
      <span class="fill-remaining-space">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger" (mouseover)="menuTrigger.openMenu()">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu" [overlapTrigger]="false">
          <span (mouseleave)="menuTrigger.closeMenu()">

            <button mat-menu-item class="botones-menu" [routerLink]="['/restaurantes']">
              <span class="material-symbols-outlined botones-menu">
                <mat-icon class="icon-color">restaurant</mat-icon>
                <span>Restaurantes</span>
              </span>
            </button>

            <button mat-menu-item>
              <span class="material-symbols-outlined botones-menu">
                <mat-icon class="icon-color">table_restaurant</mat-icon>
                <span>Reservas</span>
              </span>

            </button>

            <button mat-menu-item>
              <span class="material-symbols-outlined botones-menu">
                <mat-icon class="icon-color">logout</mat-icon>
                <span>Cerrar Sesión</span>
              </span>

            </button>
          </span>
        </mat-menu>
      </span>

      <div class="fill-remaining-space">
        <a routerLink="/initial-page">
          <div id="titulo">
            <span><img src="../../../assets/images/logo-title.png" alt="Logo ComiendoPorTriana" height="150px" class="logo"></span>
            <span>Comiendo Por Triana</span>
          </div>
        </a>
      </div>
    </mat-toolbar>
  </header>

  <!--<div class="view-container">
    <div fxLayout="row wrap" fxLayoutAlign="sapce-around center">
      <div class="category">
        <div class="card">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Restaurantes</mat-card-title>
            </mat-card-header>
            <mat-card-content>

            </mat-card-content>
            <mat-card-actions>
              <button mat-button routerLink="">
                VER MÁS
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>

  </div>-->


</body>
